<%= content_for(:page_header) do %>
  Membros do site
<% end %>

<div class="four columns">

	<div class="bordered">
		<figure class="add-border">
			<a class="single-image" href="#">
				<%= image_tag(image_url('temp/staff-img-1.jpg')) %>
			</a>
		</figure>
	</div><!--/ .bordered-->

</div><!--/ .four .columns-->


<div class="twelve columns">

	<h4 class="with-desc" data-desc="(Senior Pastor)">Ronald Larson</h4>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis aliquet augue, eu varius purus
		sollicitudin eget. Donec tellus nunc, sollicitudin eu congue tempor, dapibus et metus. Fusce ac ipsum
		at magna accumsan scelerisque sedon dolor. Mauris consectetur tortor elit laoreet feugiat. Maecenas
		facilisis dui ut mi mollis at fermentum lacus euismod. Donec inibh at sem sagittis molestie. Vivamus
		ultrices, urna vestibulum faucibus, nisl sapien semper.
	</p>

	<a href="#" class="button default small">Mande uma mensagem para Ronald Larson</a>

</div><!--/ .twelve .columns-->

<div class="border-divider"></div>

<div class="four columns">

	<div class="bordered">
		<figure class="add-border">
			<a class="single-image" href="#">
				<%= image_tag(image_url('temp/staff-img-2.jpg')) %>
			</a>
		</figure>
	</div><!--/ .bordered-->

</div><!--/ .four .columns-->

<div class="twelve columns">

	<h4 class="with-desc" data-desc="(Church Manager)">Jason Nagell</h4>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis aliquet augue, eu varius purus
		sollicitudin eget. Donec tellus nunc, sollicitudin eu congue tempor, dapibus et metus. Fusce ac ipsum
		at magna accumsan scelerisque sedon dolor. Mauris consectetur tortor elit laoreet feugiat. Maecenas
		facilisis dui ut mi mollis at fermentum lacus euismod. Donec inibh at sem sagittis molestie. Vivamus
		ultrices, urna vestibulum faucibus, nisl sapien semper.
	</p>

	<a href="#" class="button default small">Mande uma mensagem para Jason Nagell</a>

</div><!--/ .twelve .columns-->

<div class="border-divider"></div>

<div class="four columns">

	<div class="bordered">
		<figure class="add-border">
			<a class="single-image" href="#">
				<%= image_tag(image_url('temp/staff-img-3.jpg')) %>
			</a>
		</figure>
	</div><!--/ .bordered-->

</div><!--/ .four .columns-->

<div class="twelve columns">

	<h4 class="with-desc" data-desc="(Associate Minister)">Kristian Pool</h4>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis aliquet augue, eu varius purus
		sollicitudin eget. Donec tellus nunc, sollicitudin eu congue tempor, dapibus et metus. Fusce ac ipsum
		at magna accumsan scelerisque sedon dolor. Mauris consectetur tortor elit laoreet feugiat. Maecenas
		facilisis dui ut mi mollis at fermentum lacus euismod. Donec inibh at sem sagittis molestie. Vivamus
		ultrices, urna vestibulum faucibus, nisl sapien semper.
	</p>

	<a href="#" class="button default small">Mande uma mensagem para Kristian Pool</a>

</div><!--/ .twelve .columns-->

<div class="border-divider"></div>

<div class="four columns">

	<div class="bordered">
		<figure class="add-border">
			<a class="single-image" href="#">
				<%= image_tag(image_url('temp/staff-img-4.jpg')) %>
			</a>
		</figure>
	</div><!--/ .bordered-->

</div><!--/ .four .columns-->

<div class="twelve columns">

	<h4 class="with-desc" data-desc="(Assistant)">Sandra Brown</h4>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis aliquet augue, eu varius purus
		sollicitudin eget. Donec tellus nunc, sollicitudin eu congue tempor, dapibus et metus. Fusce ac ipsum
		at magna accumsan scelerisque sedon dolor. Mauris consectetur tortor elit laoreet feugiat. Maecenas
		facilisis dui ut mi mollis at fermentum lacus euismod. Donec inibh at sem sagittis molestie. Vivamus
		ultrices, urna vestibulum faucibus, nisl sapien semper.
	</p>

	<a href="#" class="button default small">Mande uma mensagem para Sandra Brown</a>

</div><!--/ .twelve .columns-->
